<!-- templates/swipe_quiz.html -->
{% extends "base.html" %}

{% block content %}
<div class="swipe-container">
    <!-- Dislike Button on the Left -->
    <button id="dislike" class="swipe-button dislike-button">
        <ion-icon name="heart-dislike"></ion-icon>
    </button>

    <!-- Swiper Area -->
    <div id="swiper"></div>

    <!-- Like Button on the Right -->
    <button id="like" class="swipe-button like-button">
        <ion-icon name="heart"></ion-icon>
    </button>
</div>

<!-- Ionicons Scripts -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!-- Swipe Quiz JavaScript -->
<script src="{{ url_for('static', filename='card-swiper/card.js') }}"></script>
<script src="{{ url_for('static', filename='card-swiper/script.js') }}"></script>

<!-- Swipe Quiz CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='card-swiper/style.css') }}">
{% endblock %}
